# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.test

# MongoDB local database dumps
dump/

# Compiled files
dist/
build/

# Dependency directories
bower_components/

# Editor and IDE files
.vscode/
.idea/
*.iml
*.sw?

# Operating system files
